*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span{
    color: cornsilk;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}

.container .head{
    color: orangered;
    float: left;
}

header{
    background: #35424a;
    height: 100px;
    border-bottom: 4px solid orangered;
}
.color{
    padding-top: 30px;
}

ul{
    float: right;
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#fff;
}

a:hover{
    color: gray;
}

.current a{
    color: orangered;
}

ul li{
    display: inline;
    float: left;
    padding: 0 20px 0 20px;
    text-transform: uppercase
    
}

.id{
    background: url(./Image/laptop.jpg);
    min-height: 400px;
    width: 100%;
    text-align: center;
    color: white;
}

.afford{
    padding-top: 100px;
}

.afford .af{
    font-size: 50px;
}

.afford p{
    font-size: 15px;
    padding-top: 20px;

}

.news{
    background: #35424a;
    height: 100px;
}

form{
    float: right;
    width: 30%;
    
}

.form{
    margin-top: 30px;
}

.form p{
    float: left;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
}
 form input[type = "email"]{
   padding: 6px;
   width: 70%;
}

.btn{
    padding: 6px;
    color: white;
    background-color: orangered;
    border: none;
}

.box{
    height: 300px;
}

img{
    width: 30%;
}
.imgbx{
    float: left;
    text-align: center;
    width: 25%; 
    margin: 40px;
}

.foot{
    background: orangered;
    color: #fff;
    text-align: center;
    height: 100px;
    padding-top: 50px;
}